*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

volley/

*.xml

app/src/main/res/layout/fragment_main.xml

app/src/main/java/com/example/kaunghtetthar/myapplication/activities/MapsActivity.java

*.java

app/src/main/java/com/example/kaunghtetthar/myapplication/activities/MapsActivity.java

app/src/main/res/layout/fragment_main.xml

app/src/main/java/com/example/kaunghtetthar/myapplication/activities/MapsActivity.java

app/src/main/res/layout/fragment_main.xml
